﻿
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section title
{
    <h2>@ViewBag.Title</h2>
}
@section breadcrumb
{
    <div class="right-wrapper pull-right">
        <ol class="breadcrumbs">
            <li>
                <a href='@Url.Action("Index", "Home")'>
                    <i class="fa fa-home"></i>
                </a>
            </li>
            <li><span>Home</span></li>
            <li><span>@ViewBag.Title</span></li>
            <li></li>
        </ol>
    </div>
}



<!-- start: page -->
<h3 class="mt-none">TÉRMINOS APS/PDW</h3>
<p>Buscar definiciones, buenas practica y recomendaciones en el uso del APS/PDW</p>
<div class="search-control-wrapper">
    <form action="pages-search-results.html">
        <div class="form-group">
            <div class="input-group">
                <input type="text" class="form-control input-lg" placeholder="e.g. index, tablas, temporales">
                <span class="input-group-btn">
                    <a class="btn btn-primary btn-lg" href="@Url.Action("SearchResult", "Concepto")">
                       BUSCAR
                    </a>
                </span>
            </div>
        </div>
    </form>
</div>
<div class="row">
    <div class="col-md-8 col-lg-8 col-xl-12">
        <h5 class="text-semibold text-dark text-uppercase mb-md mt-lg">CATEGORIAS</h5>
        <section class="panel">

            <div class="panel-body">
                <p class="m-none">
                    <button type="button" class="mb-xs mt-xs mr-xs btn btn-lg btn-default">Indices</button>
                    <button type="button" class="mb-xs mt-xs mr-xs btn btn-lg btn-default">Cargas/Backups</button>
                    <button type="button" class="mb-xs mt-xs mr-xs btn btn-lg btn-default">Querys</button>
                    <button type="button" class="mb-xs mt-xs mr-xs btn btn-lg btn-default">Performance</button>
                    <button type="button" class="mb-xs mt-xs mr-xs btn btn-lg btn-default">Categoria 1</button>
                    <button type="button" class="mb-xs mt-xs mr-xs btn btn-lg btn-default">Categoria 2</button>
                    <button type="button" class="mb-xs mt-xs mr-xs btn btn-lg btn-default">Categoria 3</button>
                    <button type="button" class="mb-xs mt-xs mr-xs btn btn-lg btn-default">Categoria 4</button>
                    <button type="button" class="mb-xs mt-xs mr-xs btn btn-lg btn-default">Categoria 5</button>
                    <button type="button" class="mb-xs mt-xs mr-xs btn btn-lg btn-default">Categoria 6</button>
                    <button type="button" class="mb-xs mt-xs mr-xs btn btn-lg btn-default">Categoria 7</button>
                    <button type="button" class="mb-xs mt-xs mr-xs btn btn-lg btn-default">Categoria 8</button>
                </p>
            </div>
        </section>

        <h5 class="text-semibold text-dark text-uppercase mb-md mt-lg">ALFABETICAMENTE</h5>
        <section class="panel">

            <div class="panel-body">
                <p class="m-none">
                    <button type="button" class="mb-xs mt-xs mr-xs btn btn-lg btn-primary">A</button>
                    <button type="button" class="mb-xs mt-xs mr-xs btn btn-lg btn-primary">B</button>
                    <button type="button" class="mb-xs mt-xs mr-xs btn btn-lg btn-primary">C</button>
                    <button type="button" class="mb-xs mt-xs mr-xs btn btn-lg btn-primary">D</button>
                    <button type="button" class="mb-xs mt-xs mr-xs btn btn-lg btn-primary">E</button>
                    <button type="button" class="mb-xs mt-xs mr-xs btn btn-lg btn-primary">F</button>
                    <button type="button" class="mb-xs mt-xs mr-xs btn btn-lg btn-primary">G</button>
                    <button type="button" class="mb-xs mt-xs mr-xs btn btn-lg btn-primary">H</button>
                    <button type="button" class="mb-xs mt-xs mr-xs btn btn-lg btn-primary">I</button>
                    <button type="button" class="mb-xs mt-xs mr-xs btn btn-lg btn-primary">J</button>
                    <button type="button" class="mb-xs mt-xs mr-xs btn btn-lg btn-primary">K</button>
                    <button type="button" class="mb-xs mt-xs mr-xs btn btn-lg btn-primary">L</button>
                    <button type="button" class="mb-xs mt-xs mr-xs btn btn-lg btn-primary">M</button>
                    <button type="button" class="mb-xs mt-xs mr-xs btn btn-lg btn-primary">N</button>
                    <button type="button" class="mb-xs mt-xs mr-xs btn btn-lg btn-primary">Ñ</button>
                    <button type="button" class="mb-xs mt-xs mr-xs btn btn-lg btn-primary">O</button>
                    <button type="button" class="mb-xs mt-xs mr-xs btn btn-lg btn-primary">P</button>
                    <button type="button" class="mb-xs mt-xs mr-xs btn btn-lg btn-primary">Q</button>
                    <button type="button" class="mb-xs mt-xs mr-xs btn btn-lg btn-primary">R</button>
                    <button type="button" class="mb-xs mt-xs mr-xs btn btn-lg btn-primary">S</button>
                    <button type="button" class="mb-xs mt-xs mr-xs btn btn-lg btn-primary">T</button>
                    <button type="button" class="mb-xs mt-xs mr-xs btn btn-lg btn-primary">U</button>
                    <button type="button" class="mb-xs mt-xs mr-xs btn btn-lg btn-primary">V</button>
                    <button type="button" class="mb-xs mt-xs mr-xs btn btn-lg btn-primary">W</button>
                    <button type="button" class="mb-xs mt-xs mr-xs btn btn-lg btn-primary">X</button>
                    <button type="button" class="mb-xs mt-xs mr-xs btn btn-lg btn-primary">Y</button>
                    <button type="button" class="mb-xs mt-xs mr-xs btn btn-lg btn-primary">Z</button>
                </p>
            </div>
        </section>
    </div>
    <div class="col-md-4 col-lg-4 col-xl-12">
        <h5 class="text-semibold text-dark text-uppercase mb-md mt-lg">ULTIMOS TERMINOS AÑADIDOS</h5>
        <section class="panel">
            <header class="panel-heading">
                <div class="panel-actions">
                    <a href="#" class="fa fa-caret-down"></a>
                    <a href="#" class="fa fa-times"></a>
                </div>

                <h2 class="panel-title">TÉRMINOS</h2>
            </header>
            <div class="panel-body">
                <div class="sidebar-widget widget-tasks">
                    <div class="widget-content">
                        <ul class="list-unstyled m-none">
                            <li><a href="#">Querys</a></li>
                            <li><a href="#">ETLs</a></li>
                            <li><a href="#">Categoria X</a></li>
                            <li><a href="#">Categoria Y</a></li>
                            <li><a href="#">Categoria Z</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>
        <section class="panel">
            <header class="panel-heading">
                <div class="panel-actions">
                    <a href="#" class="fa fa-caret-down"></a>
                    <a href="#" class="fa fa-times"></a>
                </div>

                <h2 class="panel-title">TAGS</h2>
            </header>
            <div class="panel-body">
                <p class="m-none">
                    <button type="button" class="mb-xs mt-xs mr-xs btn btn-sm btn-warning">tag one</button>
                    <button type="button" class="mb-xs mt-xs mr-xs btn btn-sm btn-success">tag one</button>
                    <button type="button" class="mb-xs mt-xs mr-xs btn btn-sm btn-primary">tag one</button>
                    <button type="button" class="mb-xs mt-xs mr-xs btn btn-sm btn-default">tag one</button>
                    <button type="button" class="mb-xs mt-xs mr-xs btn btn-sm btn-danger">tag one</button>
                    <button type="button" class="mb-xs mt-xs mr-xs btn btn-sm btn-dark">tag one</button>
                    <button type="button" class="mb-xs mt-xs mr-xs btn btn-sm btn-warning">tag one</button>
                    <button type="button" class="mb-xs mt-xs mr-xs btn btn-sm btn-success">tag one</button>
                </p>
            </div>
        </section>
    </div>

</div>
<!-- end: page -->
