﻿
@{
    ViewBag.Title = "Conceptos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section styles
{
    @Styles.Render("~/Content/forms")
    @Styles.Render("~/Content/codemirror")
}
@section title
{
    <h2>@ViewBag.Title</h2>
}
@section breadcrumb
{
    <div class="right-wrapper pull-right">
        <ol class="breadcrumbs">
            <li>
                <a href='@Url.Action("Index", "Home")'>
                    <i class="fa fa-home"></i>
                </a>
            </li>
            <li><span>Terminos</span></li>
            <li><span>@ViewBag.Title</span></li>
            <li></li>
        </ol>
    </div>
}

<div class="row">
    <div class="col-lg-12">
        <section class="panel">
            <header class="panel-heading">
                <div class="panel-actions">
                    <a href="#" class="fa fa-caret-down"></a>
                    <a href="#" class="fa fa-times"></a>
                </div>

                <h2 class="panel-title">Nuevo Concepto</h2>
            </header>
            <div class="panel-body">
                <form class="form-horizontal form-bordered" method="get">
                    <div class="form-group">
                        <label class="col-md-3 control-label" for="inputNombre">Nombre</label>
                        <div class="col-md-6">
                            <input type="text" class="form-control" id="inputNombre">
                        </div>
                    </div>



                    <div class="form-group">
                        <label class="col-md-3 control-label" for="inputDescripcion">Descripción</label>
                        <div class="col-md-6">
                            <textarea class="form-control" id="inputDescripcion"></textarea>
                            <span class="help-block">Descripción general del termino o concepto.</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label">Categoría</label>
                        <div class="col-md-6">
                            <select class="form-control" multiple="multiple" data-plugin-multiselect id="ms_example2">
                                <option value="1" selected>Categoria 1 </option>
                                <option value="2" selected>Categoria 2 </option>
                                <option value="3" selected>Categoria 3 </option>
                                <option value="4">Categoria 4 </option>
                                <option value="5">Categoria 5 </option>
                                <option value="6">Categoria 6 </option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="tags-input" class="col-md-3 control-label">Tags</label>
                        <div class="col-md-6">
                            <input name="tags" id="tags-input" data-role="tagsinput" data-tag-class="label label-primary" class="form-control" value="Tag 1,Tag 2,Tag 3,Tag 4,Tag 5" />
                            <p>
                                Añada las etiquetas con las que quiere reconocer este concepto
                            </p>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-3 control-label" for="textareaEditor">SQL Code</label>
                        <div class="col-md-6">
                            <textarea class="form-control" rows="10" id="codemirror_js_code" name="code_js" data-plugin-codemirror data-plugin-options='{ "mode": "text/x-plsql" }'>
SELECT * FROM 
</textarea>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-3 control-label" for="textareaEditor">Archivos</label>
                        <div class="col-md-6">
                            <div action="/upload" class="dropzone dz-square" id="dropzone-example"></div>
                        </div>
                    </div>

                </form>
            </div>
            <div class="panel-footer">
                <div class="right">
                    <button class="btn btn-success btn-lg"> GUARDAR</button>
                    <button class="btn btn-default btn-lg"> CANCELAR</button>
                </div>
                
            </div>
        </section>


    </div>
</div>

@section scripts
{

    @Scripts.Render("~/bundles/forms")
    @Scripts.Render("~/bundles/codemirror")
}