﻿
@{
    ViewBag.Title = "Resultado de la Búsqueda";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@section title
{
    <h2>@ViewBag.Title</h2>
}
@section breadcrumb
{
    <div class="right-wrapper pull-right">
        <ol class="breadcrumbs">
            <li>
                <a href='@Url.Action("Index", "Home")'>
                    <i class="fa fa-home"></i>
                </a>
            </li>
            <li><span>Home</span></li>
            <li><span>@ViewBag.Title</span></li>
            <li></li>
        </ol>
    </div>
}

<!-- start: page -->
<div class="search-content">
    <div class="search-control-wrapper">
        <form action="pages-search-results.html">
            <div class="form-group">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="e.g. index, tablas, temporales">
                    <span class="input-group-btn">
                        <button class="btn btn-primary" type="button">Buscar</button>
                    </span>
                </div>
            </div>
        </form>
    </div>
    <div class="search-toolbar">
        <ul class="list-unstyled nav nav-pills">
            <li class="active">
                <a href="#everything" data-toggle="tab">Todo</a>
            </li>
            <li>
                <a href="#medias" data-toggle="tab">Archivos</a>
            </li>
        </ul>
    </div>
    <div class="tab-content">
        <div id="everything" class="tab-pane active">
            <p class="total-results text-muted">Mostrando 1 a 10 de 47 resultados</p>

            <ul class="list-unstyled search-results-list">
                <li>
                    <p class="result-type">
                        <span class="label label-primary">tag 1</span> <span class="label label-primary">tag 2</span>
                    </p>
                    <a href="#" class="has-thumb">
                        <div class="result-data">
                            <p class="h3 title text-primary">Concepto 1</p>
                            <p class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ante nisl, sagittis nec lacus et, convallis efficitur justo. Curabitur elementum feugiat quam. Etiam ac orci iaculis, luctus nisl et, aliquet metus. Praesent congue tortor venenatis, ornare eros eu, semper orci.</p>
                        </div>
                    </a>
                </li>
                <li>
                    <p class="result-type">
                        <span class="label label-primary">tag 1</span> <span class="label label-primary">tag 2</span>
                    </p>
                    <a href="#" class="has-thumb">
                        <div class="result-data">
                            <p class="h3 title text-primary">Concepto 2</p>
                            <p class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ante nisl, sagittis nec lacus et, convallis efficitur justo. Curabitur elementum feugiat quam. Etiam ac orci iaculis, luctus nisl et, aliquet metus. Praesent congue tortor venenatis, ornare eros eu, semper orci.</p>
                        </div>
                    </a>
                </li>
            </ul>

            <hr class="solid mb-none" />

            <ul class="pagination">
                <li class="prev disabled">
                    <a href="#">
                        <i class="fa fa-chevron-left"></i>
                    </a>
                </li>
                <li class="active">
                    <a href="#">1</a>
                </li>
                <li>
                    <a href="#">2</a>
                </li>
                <li>
                    <a href="#">3</a>
                </li>
                <li>
                    <a href="#">4</a>
                </li>
                <li>
                    <a href="#">5</a>
                </li>
                <li class="next">
                    <a href="#">
                        <i class="fa fa-chevron-right"></i>
                    </a>
                </li>
            </ul>
        </div>
        <div id="medias" class="tab-pane">
            <div class="row">
                <div class="col-sm-6 col-md-4 col-lg-3">
                    <div class="thumbnail">
                        <div class="thumb-preview">
                            <a class="thumb-image" href="#">
                                <img src="https://picsum.photos/200/200" class="img-responsive" alt="Concepto 1">
                            </a>
                        </div>
                        <h5 class="mg-title text-semibold">Archivo 1<small>.png</small></h5>
                    </div>
                </div>
                <div class="col-sm-6 col-md-4 col-lg-3">
                    <div class="thumbnail">
                        <div class="thumb-preview">
                            <a class="thumb-image" href="#">
                                <img src="https://picsum.photos/200/200" class="img-responsive" alt="Concepto 1">
                            </a>
                        </div>
                        <h5 class="mg-title text-semibold">Archivo 1<small>.png</small></h5>
                    </div>
                </div>
                <div class="col-sm-6 col-md-4 col-lg-3">
                    <div class="thumbnail">
                        <div class="thumb-preview">
                            <a class="thumb-image" href="#">
                                <img src="https://picsum.photos/200/200" class="img-responsive" alt="Concepto 1">
                            </a>
                        </div>
                        <h5 class="mg-title text-semibold">Archivo 1<small>.png</small></h5>
                    </div>
                </div>
              
                <div class="col-sm-6 col-md-4 col-lg-3">
                    <div class="thumbnail">
                        <div class="thumb-preview">
                            <a class="thumb-image" href="#">
                                <img src="https://picsum.photos/200/200" class="img-responsive" alt="Concepto 1">
                            </a>
                        </div>
                        <h5 class="mg-title text-semibold">Archivo 1<small>.png</small></h5>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<!-- end: page -->