﻿
@{
    ViewBag.Title = "Categorias";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section styles
{

}
@section title
{
    <h2>@ViewBag.Title</h2>
}
@section breadcrumb
{
    <div class="right-wrapper pull-right">
        <ol class="breadcrumbs">
            <li>
                <a href='@Url.Action("Index", "Home")'>
                    <i class="fa fa-home"></i>
                </a>
            </li>
            <li><span>Catalogos</span></li>
            <li><span>@ViewBag.Title</span></li>
            <li></li>
        </ol>
    </div>
}
<section id="container" class="panel">
    <header class="panel-heading">
        <div class="panel-actions">
            <a href="#" class="fa fa-caret-down"></a>
            <a href="#" class="fa fa-times"></a>
        </div>

        <h2 class="panel-title">@ViewBag.Title</h2>


    </header>
    <div class="panel-body">
        <div class="alert" v-bind:class="errorRegistroCategoria.css" v-if="(errorRegistroCategoria.msg.length > 0)">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
            <strong>Alerta!</strong> {{errorRegistroCategoria.msg}}
        </div>
        <button type="button" class="mb-xs mt-xs mr-xs btn btn-primary" data-toggle="modal" data-target="#modalAddEdit" v-on:click="limpiarFormRegistro(); isEdit=false;"><i class="fa fa-plus"></i> Nuevo</button>

        <table class="table table-bordered table-striped mb-none" id="datatable">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Nombre</th>
                    <th>Descripción</th>
                    <th>Activo</th>
                    <th>Acciones</th>
                </tr>
            </thead>

            <tbody>
                <template id="row" functional>
                    <tr class="gradeA" v-for="row in listCategorias">
                        <td>{{row.FiId}}</td>
                        <td style="width:20%">{{row.FcNombre}}</td>
                        <td style="width:50%">{{row.FcDescripcion}}</td>
                        <td class="center">
                            <div class="checkbox-custom checkbox-default">
                                <input type="checkbox" v-bind:checked="row.FlActivo" disabled="" id="chkActivo">
                                <label for="chkActivo"></label>
                            </div>
                        </td>
                        <td class="center">
                            <a href="#" class="on-default edit-row"  v-on:click="openEdit(row.FiId)" data-toggle="modal" data-target="#modalAddEdit"><i class="fa fa-pencil"></i></a>
                            <a href="#" class="on-default remove-row"><i class="fa fa-trash-o" v-on:click="bajaCategoria(row.FiId)"></i></a>
                        </td>
                    </tr>
                </template>
            </tbody>
        </table>
    </div>

    <!-- Modal -->


    <div class="modal fade" id="modalAddEdit" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title" id="myModalLabel">{{ !isEdit ? 'NUEVO': 'EDITAR' }}</h4>
                </div>
                <div class="modal-body">
                    <form id="demo-form" class="form-horizontal mb-lg" novalidate="novalidate">
                        <div class="form-group mt-lg">
                            <label class="col-sm-3 control-label">Id</label>
                            <div class="col-sm-9">
                                <input type="text" name="id" class="form-control" v-model="modelCategoria.FiId" disabled="" placeholder="Id" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Nombre</label>
                            <div class="col-sm-9">
                                <input type="text" name="nombre" class="form-control" v-model="modelCategoria.FcNombre" placeholder="Nombre" required />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Descripcion</label>
                            <div class="col-sm-9">
                                <textarea rows="5" class="form-control" placeholder="Descripción" v-model="modelCategoria.FcDescripcion"></textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-offset-3 col-sm-9">
                                <div class="checkbox-custom checkbox-default">
                                    <input type="checkbox" v-model="modelCategoria.FlActivo" v-bind:disabled="!isEdit" id="chkActivoNE">
                                    <label for="chkActivoNE">Activo</label>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-success" v-on:click="registrarEditarCategoria" v-if="formCategoriaCompleto">{{ !isEdit ? 'GUARDAR': 'ACTUALIZAR' }}</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">CERRAR</button>
                </div>
            </div>
        </div>
    </div>
</section>


@section scripts
{

    @*<script src="~/Content/js/tables/examples.datatables.default.js"></script>*@
    <script src="~/ViewScripts/Catalogos/categoria-1.0.0.js"></script>
}