﻿<div id="userbox" class="userbox">
    <a href="#" data-toggle="dropdown">
        <figure class="profile-picture">
            <img src="~/Content/images/!logged-user.jpg" alt="Christian Castellanos" class="img-circle" data-lock-picture="~/Content/images/!logged-user.jpg" />
        </figure>
        <div class="profile-info" data-lock-name="Christian" data-lock-email="cdcastellanos@elektra.com.mx">
            <span class="name">Christian Castellanos</span>
            <span class="role">administrador</span>
        </div>

        <i class="fa custom-caret"></i>
    </a>

    <div class="dropdown-menu">
        <ul class="list-unstyled">
            <li class="divider"></li>
            <li>
                <a role="menuitem" tabindex="-1" href="pages-user-profile.html"><i class="fa fa-user"></i> Perfil</a>
            </li>
            <li>
                <a role="menuitem" tabindex="-1" href="pages-signin.html"><i class="fa fa-power-off"></i> Salir</a>
            </li>
        </ul>
    </div>
</div>
