﻿<!DOCTYPE html>
<html class="fixed">
<head>

    <!-- Basic -->
    <meta charset="UTF-8">

    <title>Wiki Sistemas Riesgos</title>
    <meta name="keywords" content="Glosario" />
    <meta name="description" content="Wiki Sistemas Riesgos">

    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

    <!-- Web Fonts  -->
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800|Shadows+Into+Light" rel="stylesheet" type="text/css">

    <!-- Vendor CSS -->
    @Styles.Render("~/Content/bootstrap/css")
    <!-- Plugins CSS -->
    @Styles.Render("~/Content/plugins/css")
    <!-- Theme CSS -->
    @Styles.Render("~/Content/theme/css")

    @RenderSection("styles", required: false)
    <!-- Head Libs -->
    @Scripts.Render("~/bundles/modernizr")


    <script>
        var baseUrl = function (url) {
            return '@Href("~/")'+url;
        }
    </script>
</head>
<body>
    <section class="body">

        <!-- start: header -->
        <header class="header">
            <div class="logo-container">
                <a href="../" class="logo">
                    <img src="~/Content/images/logo_wiki.png" height="35" alt="Wiki Sistemas Riesgos" />
                </a>
                <div class="visible-xs toggle-sidebar-left" data-toggle-class="sidebar-left-opened" data-target="html" data-fire-event="sidebar-left-opened">
                    <i class="fa fa-bars" aria-label="Toggle sidebar"></i>
                </div>
            </div>

            <!-- start: search & user box -->
            <div class="header-right">

                <span class="separator"></span>

                @Html.Partial("_InfoUser")
            </div>
            <!-- end: search & user box -->
        </header>
        <!-- end: header -->

        <div class="inner-wrapper">
            <!-- start: sidebar -->
            @Html.Partial("_MenuPrincipal")
            <!-- end: sidebar -->

            <section role="main" class="content-body">
                <header class="page-header">
                    @RenderSection("title", required: true)
                    @RenderSection("breadcrumb", required: false)
                </header>

                <!-- start: page -->
                @RenderBody()
                <!-- end: page -->
            </section>
        </div>

    </section>

    <!-- Vendor -->
    @Scripts.Render("~/bundles/vendor")
    <!-- Plugins -->
    @Scripts.Render("~/bundles/plugins")

    <!-- VueJS -->
    @Scripts.Render("~/bundles/vue")

    @RenderSection("scripts", required: false)
    <!-- Theme Base, Components and Settings -->
    @Scripts.Render("~/bundles/theme")
</body>
</html>
