﻿<aside id="sidebar-left" class="sidebar-left">

    <div class="sidebar-header">
        <div class="sidebar-title" style="color:whitesmoke">
            MENÚ
        </div>
        <div class="sidebar-toggle hidden-xs" data-toggle-class="sidebar-left-collapsed" data-target="html" data-fire-event="sidebar-left-toggle">
            <i class="fa fa-bars" aria-label="Toggle sidebar"></i>
        </div>
    </div>

    <div class="nano">
        <div class="nano-content">
            <nav id="menu" class="nav-main" role="navigation">
                <ul class="nav nav-main">
                    <li>
                        <a href="@Url.Action("Index", "Home")">
                            <i class="fa fa-home" aria-hidden="true"></i>
                            <span>Index</span>
                        </a>
                    </li>
                    <li class="nav-parent nav-expanded ">
                        <a>
                            <i class="fa fa-gear" aria-hidden="true"></i>
                            <span>Catalogos</span>
                        </a>
                        <ul class="nav nav-children">
                            <li>
                                <a href='@Url.Action("Index", "Categoria")'>
                                    Categoría
                                </a>
                            </li>
                            <li>
                                <a href='@Url.Action("Index", "Concepto")'>
                                    Concepto
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </nav>
        </div>

    </div>

</aside>
